// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$neon-ice: #b3134b;
$light-gold: #F3DE8A;
$ink-black: #071013;
$light-gray: #F4F4F4;
$signal-green: #4caf50;
$signal-orange: #f28c28;
$signal-red: #d64545;
