<div class="modal fade vinyl-folder-modal" id="crateModal-<%= folder.id %>" tabindex="-1" aria-labelledby="crateModalLabel-<%= folder.id %>" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-lg-down modal-xl modal-dialog-centered modal-dialog-scrollable">
    <%= render "vinyls/crate_modal_content", folder: folder, folders: folders %>
  </div>
</div>
