<div class="welcome-header">
  <div></div><%= image_tag "waxxee_logo" %><div></div>
</div>
<div class="container">
  <h1 class="main-title">WELCOME TO WAXXEE!</h1>
  <h2>DIGITAL CRATE DIGGING</h2>
  <p>WAXXEE is designed to re-create the experience of flicking thourough boxes of dusty old records
    in the basement of an old record shop. We don't learn anything about you, our alorithyms will
    constantly surprise you bringing new and previsouly forgotten tunes to your ears.
  </p>
  <div class="justify-content-center d-flex">
    <div class="log-in-container col-10 col-md-6">
      <h3>dive in and discover something amazing</h3>
      <div class="d-flex justify-content-between px-4">
        <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
    <h2 class="mt-5">RECENT FINDS...</h2>
    <div class="vinyl-wrapper">
      <% @recent_vinyls.each do |vinyl| %>
        <%= render "shared/vinyl_card", vinyl: vinyl %>
      <% end %>
    </div>
</div>
